/* .header {} */

.header__nav {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  flex-shrink: 0;
}

.header__nav-logo {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
  /* margin-left: 10px; */
  padding-left: 10px;
  margin: 0;
}

.header__nav-item {
  color: #eeeeee;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-left: 40px;
  white-space: nowrap;
  --b: 0.1em;
  /* the thickness of the line */
  --c: #00ADB5;
  /* the color */

  color: #0000;
  padding-block: var(--b);
  background:
    linear-gradient(var(--c) 50%, #eeeeee 0) 0% calc(100% - var(--_p, 0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p, 0%)/var(--_p, 0%) var(--b) no-repeat;
  -webkit-background-clip: text, padding-box;
  background-clip: text, padding-box;
  transition: .3s var(--_s, 0s) linear, background-size .3s calc(.3s - var(--_s, 0s));
}

.header__nav-item:hover {
  --_p: 100%;
  --_s: .3s;
}

.header__content {
  display: flex;
  justify-content: space-between;
}

/* .header__content-text {} */

.header__content-title {
  font-weight: 700;
  font-size: 96px;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
  color: #00ADB5;
  text-transform: uppercase;
  max-width: 700px;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 130px;
  padding-bottom: 48px;
}

.header__content-title span {
  font-size: 96px;
  font-weight: 700;
  line-height: 96px;
  letter-spacing: 0%;
  text-align: left;
  color: #FFFFFF;
  text-transform: uppercase;
  white-space: nowrap;
}

.header__content-list {
  display: flex;
  /* padding-bottom: 354px; */
}

.header__content-item {
  position: relative;
}

.header__content-btn-one {
  margin-right: 24px;
}

.header__content-btn-two {
  padding-right: 60px;
}

.header__download-svg {
  position: absolute;
  left: 158px;
  top: 0px;
  display: flex;
}

.header__download-svg path {
  transition: stroke 0.3s ease;
}

.header__download-svg:hover path {
  stroke: #00ADB5;
}

.header__img {
  margin: 94px 0 96px 0;
  /* max-width: 100%;
  height: auto; */

  /* width: 535px; */
  /* height: 580px;  */
}

.header__img img {
  /* max-width: 100%;
  height: auto; */

  width: 535px;
  height: 580px;
}

/* ---------------------------- MEDIA --------------------------- */
/* ---------------------------- MEDIA --------------------------- */
/* ---------------------------- MEDIA --------------------------- */

@media (max-width: 1200px) {
  .header__img img {
    margin-right: 0px;
    max-width: 450px;
    height: 100%;
  }

  .header__content-title {
    font-size: 64px;
    line-height: 64px;
    max-width: none;
  }

  .header__content-title span {
    font-size: 64px;
    line-height: 64px;
    max-width: none;
  }
}

/* ======================= 992 ======================== */
/* ======================= 992 ======================== */
/* ======================= 992 ======================== */

@media (max-width: 992px) {
  .header__img img {
    margin-right: 0px;
    max-width: 300px;
    height: 100%;
  }
}


/* ======================= 768 ======================== */
/* ======================= 768 ======================== */
/* ======================= 768 ======================== */


@media (max-width: 768px) {
  .header__content {
    display: flex;
    flex-direction: column;
  }
  .header__content-title {
    padding-top: 60px;
  }
  .header__img img {
    max-width: 350px;
    height: 100%;
    margin-left: 30px;
  }
  .header__img {
    margin-top: 40px;
  }
}


/* ======================= 480 ======================== */
/* ======================= 480 ======================== */
/* ======================= 480 ======================== */


@media (max-width: 480px) {
  .header__nav-item {
    margin-left: 20px;
  }
}