.about .container {
  display: flex;
  justify-content: space-between;
}

.about__wrapper {
  display: flex;
  position: relative;
}

.about__content-title {
  padding-top: 127px;
}

.about__content-text {
  color: rgba(238, 238, 238, 0.75);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  max-width: 389px;
  padding-bottom:422px;
}

.about__image {
  padding: 116px 0px 120px 0;
}

/* ------------------- MEDIA -------------------- */
/* ------------------- MEDIA -------------------- */
/* ------------------- MEDIA -------------------- */

@media (max-width: 1200px) {

}

/* ======================= 992 ======================== */
/* ======================= 992 ======================== */
/* ======================= 992 ======================== */

@media (max-width: 992px) {

}

/* ======================= 768 ======================== */
/* ======================= 768 ======================== */
/* ======================= 768 ======================== */


@media (max-width: 768px) {

}

/* ======================= 480 ======================== */
/* ======================= 480 ======================== */
/* ======================= 480 ======================== */

@media (max-width: 480px) {

}

/* ======================= 480 ======================== */
/* ======================= 480 ======================== */
/* ======================= 480 ======================== */

@media (max-width: 320px) {

}